{% extends 'myapp/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="infoindex">

        <div class="leftindex">
            Левое поле с навигацией
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias ducimus fugiat impedit minus natus quos
            vitae. Alias amet aperiam beatae consequuntur cum, cumque cupiditate debitis dignissimos dolores dolorum
            enim error, et ex excepturi id in, inventore labore laudantium minima modi molestiae perferendis
            perspiciatis porro praesentium quasi quod ratione recusandae reiciendis repellendus repudiandae saepe
            sapiente sunt tempore temporibus unde vel voluptates. Adipisci aliquid atque consectetur culpa debitis
            delectus dicta dolor, dolorum, eum ipsam, iusto nobis quaerat quia recusandae repellendus sed sint vel!
            Assumenda libero modi rerum soluta. Culpa, magni nesciunt nihil nostrum possimus praesentium quis suscipit
            voluptatum. Dolorum, est illo ipsam laborum nemo omnis repudiandae! Asperiores consectetur consequuntur,
            cumque, fugit inventore iste labore odit provident quia repellendus similique, temporibus vero!</p>
        </div>

        <div class="rightindex">
            Правое поле с контентом
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores debitis odit quas totam.
                Commodi,
                consequuntur doloremque dolorum eos id laboriosam maiores molestiae neque obcaecati perspiciatis, qui
                tempore
                voluptates? Accusantium aspernatur cum dolorem eligendi eveniet ex illo iusto, laboriosam laudantium
                obcaecati
                placeat possimus quas quasi quisquam repudiandae tenetur ut vel.</p>
            <p>A adipisci at consequatur deleniti dignissimos dolor doloribus enim eos esse et excepturi exercitationem
                fugiat
                id incidunt libero mollitia nihil nisi nulla optio provident quae, quibusdam rem, repellendus. At
                blanditiis
                dicta fuga fugiat id in minus numquam quas recusandae voluptatibus! Culpa dicta excepturi fugit labore
                molestias, neque repudiandae saepe tenetur.</p>
            <p>Atque, consequatur cumque debitis dignissimos dolor doloremque doloribus impedit molestiae molestias
                neque nisi
                numquam, quam sed suscipit unde veniam vitae voluptas voluptatem voluptates voluptatibus? Debitis eum
                odio
                possimus quasi quia quod sed voluptates voluptatum. Blanditiis eligendi explicabo fugiat laboriosam
                molestias
                natus, quo ratione recusandae reprehenderit rerum sint ullam, veritatis voluptatem?</p>
        </div>

    </div>
{% endblock %}